/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
# Reset
# General
# Header
# Footer
# Nav
# Widgets
# Content
# Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
:root {
    --sans-serif: "Overpass", arial, sans-serif;
    --serif: "Crimson Pro", "Baskerville", serif;
    --highlight-color: #ff1c65;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

blockquote, q, p.blockquote {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after, p.blockquote:before, p.blockquote:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: var(--serif);
	color: #191919;
	background: #fff;
	line-height: 1.5em;
}
i, em {
	font-style: italic;
}
b,
strong,
.strong {
	font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

a {
    color:black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: var(--highlight-color);
}
/*a:hover {
	color: var(--highlight-color);
}*/
a:visited {
	color:inherit;
}

h1, h2, h3, h4 {
	font-family: var(--sans-serif);
}

h3 {
	font-weight:bold;
}
#page {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr;
}
.home #main,
.single #main {
    // This is awful! Major refactor needed
	width:66.66666666666666%;
	float:left;
}
.home #side,
.single #side {
    // This is awful! Major refactor needed
	width:33.33333333333333%;
	float:right;
	
}
blockquote, p.blockquote {
    margin-left: 1em;
    margin-bottom: 2em;
}
blockquote p:not(:last-child) {
    margin-bottom: 0.6em;
}

.sticky-top {
    position: sticky;
    top: 0;
}

.bg-white {
    background-color: white;
}

.padding-v-small {
    padding: 0.5em 0;
}

.alignleft {
    float: left;
    padding-right: 1em;
}

.alignright {
    float: right;
    padding-left: 1em;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
	margin-top:50px;
	margin-bottom:50px;	
}
.site-branding {
	width: 100%;
	margin-bottom: 15px;
}

#banner {
	background:url(/wp-content/themes/port-au-prince/img/banner-2-01.jpg) no-repeat;
	background-size: cover;
	width:calc(25% - 30px);
	margin-right:15px;
	margin-left:15px;	
	position:absolute;
	right:0;
	top:-50px;
	height:calc(100% + 50px);
	font-family: var(--sans-serif);
}
#banner:before {
	content:'';
	width:100%;
	height:100%;
	display:block;
	position: absolute;
	top:0;
	left:0;
	background:repeating-linear-gradient(-45deg, transparent, transparent 2px, black 2px, black 4px);
	/*background:transparent url(/wp-content/themes/port-au-prince/img/pattern-diagonal.png);*/
	opacity:.2;
}
#banner span {
	position: relative;
	z-index: 0;
	margin-left:30px;
	display:inline-block;
	color:#ff64b0;
	opacity:.7;
	width:100%;
}
#banner span:nth-child(odd) {
	letter-spacing: .2rem;
}
#banner-isstxt {
	margin-top: 24px;
}
#banner-full-issue {
	font-size: 3.6rem;
	line-height: 2.6rem;
	letter-spacing: -.2rem;
	font-weight: 700;	
	margin-top:9px;
}
/*#banner #banner-srstxt {
	width:auto;
}
#banner-srstxt:last-child {
	margin-left:3px;
}
*/
#primary-menu {
	display:table;
}
#primary-menu>li {
	display:table-cell;
	padding:15px;
	text-align:center;
	border-left:1px solid #ccc;
	font-family: var(--sans-serif);
	font-weight: bold;
	font-size: 1.15rem;
	-webkit-transition: .2s background ease, .2s color ease;
	-o-transition:.2s background ease, .2s color ease ;
	transition: .2s background ease, .2s color ease;
}
#primary-menu>li:first-child {
	border:none;
}
#primary-menu>li:hover {
	color:white;
	background:#cd9af6;
}
header .search-form {
	position: relative;
}
header .search-field {
        width: 100%;
        border: none;
	border-bottom:1px solid #000;
	border-radius: 0;
	height:100%;
	font-family: var(--sans-serif);
	-webkit-appearance: unset;
}

header .search-submit {
    position: absolute;
    bottom: 7px;
    right: 0;
	text-indent:-9999px;
    padding: 0;
    height: 100%;
    width: 38px;
	background:transparent url(/wp-content/themes/port-au-prince/img/icon-search.png);
	outline:none;
	border:none;
}

#alert-banner {
    background: #78ffae;
    padding: 1px;
}

#alert-banner span {
    width: calc(60%);
    max-width: 800px;
    margin: 5px auto;
    display: block;
    text-align: center;
    font-family: var(--sans-serif);
}

#alert-banner span a {
    color: #ff64b0;
    text-decoration: none;
    font-weight: bold;
}

.rp-issue-cover {
    text-align: center;
    max-width: 100%;
    padding: 15px;
    font-family: var(--sans-serif);
    margin-bottom: 1em;
}

.rp-issue-cover img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/*--------------------------------------------------------------
# Archive page
--------------------------------------------------------------*/

article.archive-entry {
    font-family: var(--sans-serif);
    border-bottom:1px solid black;
    margin: 2em 0;
    display: grid;
    grid-template-areas:
	"img"
	"text";
    grid-template-columns: 1fr;
    grid-column-gap: 10px;

    * {
	font-size: 1em !important;
	margin-bottom: 1em;
    }

    h3 {
	font-weight: 700;
	margin-top: 0;
    }

    .excerpt {
	max-width: 75ch;
    }
}

@media (min-width: 610px) {
    article.archive-entry {
	grid-template-columns: auto 150px;
    }
}

/*--------------------------------------------------------------
# Footer 
--------------------------------------------------------------*/
footer {
	font-family: var(--sans-serif);
	margin-top:15px;
}
footer a {
	text-decoration:none;
}
#footer-head, #footer-s2 {
	margin:auto;
	background:black;
	color:#F5F5F5;
	padding: 30px 30px 10px;
	overflow:hidden;
}
#footer-s2 {
	padding:0 30px 0;
	border-bottom:15px solid black;
	font-size:.75rem;
}
#footer-s2 a {
	color:#b5b5b5;
	-webkit-transition: .5s opacity ease;
	-o-transition: .5s opacity ease;
	transition: .5s opacity ease;
}
#footer-s2 td:first-child {
	padding-left:30px;
	font-weight:700;
	white-space: nowrap;
}
#footer-s2 td:last-child {
	padding:0 30px;
	color:#b5b5b5;
}
#footer-title {
	width:50%;
	float:left;
	text-indent:-9999px;
	background:transparent url(/wp-content/themes/port-au-prince/img/rp-horiz-white-sm.png) no-repeat;
	background-size: contain;
}
#social {
	float:right;
}
#social span {
	display: none;
}
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
ul.menu {
    display: grid;
    grid-template:
	"archive about patreon search";
    font-family: var(--sans-serif);
    padding: 0;
    grid-row-gap: 25px;
}
ul.menu li {
    list-style: none;
    cursor: pointer;
}

ul.menu > li:nth-child(1) {
    grid-area: archive;
}

ul.menu > li:nth-child(2) {
    grid-area: about;
}

ul.menu > li:nth-child(3) {
    grid-area: patreon;
}

ul.menu > li:nth-child(4) {
    grid-area: search;
}

ul.menu li ul {
    display: none;
}

ul.menu > li:hover ul, ul.menu > li:focus ul, ul.menu > li:active ul {
    display: block;
    position: absolute;
    z-index: 999;
    background: #fff;
    margin: 0;
    padding-right: 0.5em;
    padding-left: 0.1em;
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#site-branding {
	    margin: 0 auto;
	}

	ul.menu {
	    display: grid;
	    grid-template:
		"archive about patreon"
		"search search search";
	    font-family: var(--sans-serif);
	    text-align: center;
	}
}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.item {
	height:180px;
	font-family: var(--sans-serif);
	font-weight: 700;
	color:white;
	background:white;
	position: relative;
	overflow:hidden;
	margin-bottom:30px;
    float: left;   
	width: calc(50% - 30px);
    margin-right: 15px;
    margin-left: 15px;
	text-decoration:none;
}
.item:hover, .item:visited {
	color:white;
}
.item:before {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}
.item:after {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background:url(/wp-content/themes/port-au-prince/img/pattern-noise.png);
	z-index: 2;
	opacity:.8;
}
.item:hover:after {
	opacity:.1;
	-webkit-transition: .1s opacity ease;
	-o-transition: .1s opacity ease;
	transition: .1s opacity ease;
}

.item:hover {
    color: var(--highlight-color);
    text-decoration: none;
}

.item img {
	position: absolute;
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-filter: grayscale(100%);
	-o-filter:grayscale(100%) ;
	filter: grayscale(100%);
	-webkit-transition: .5s filter ease;
	-o-transition: .5s filter ease;
	transition: .5s filter ease;
}
.item p {
	position: relative;
	z-index: 3;
	font-size:22px;
	line-height: 24px;
	margin:30px 30px 0 30px;
}
.item p:last-child {
	font-size:16px;
	line-height: 22px;
	margin:0 30px;

}
.item:hover img  {
	filter: grayscale(0%);
}
#side .item {
	width: calc(100% - 30px);
}
#features {
	width:calc(100% - 30px);
	margin-right:15px;
	margin-left:15px;
	overflow: hidden;
	margin-bottom:15px;
}
#features .item {
	width:33.333333333%;
	margin-right: 0;
	margin-left:0;
}
#features .item.even {
	width:50%;
	height:125px;
	margin-bottom:0;
}
#features .item.even:last-child {
	margin-bottom:15px;
}
#editorial {
	margin-bottom:15px;
	overflow: hidden;
}
#editorial .item {
	background:transparent url(/wp-content/themes/port-au-prince/img/pattern-check.png);
	padding:0 0 30px 0;
	height:auto;
	color: var(--highlight-color);
}
#editorial .item:before, #editorial .item:after, #editorial .item img, #editorial h3 {
	display:none;
}
#editorial .item p {
	background:#f5f5f5;
	margin:0;
}
/*#editorial .item p:last-child {
	padding-bottom:10px;
}*/
#side h3 {
    width: calc(100% - 30px);
    margin: 0 auto 5px;
    color: var(--highlight-color);
    border-top: 4px solid #ffa2ce;
    padding-top: 10px;
}
.item-list .item, .item-list .item:visited {
	color:black;
	background:none;
	padding:0 0 15px 0;
	height:auto;
	margin-bottom:15px;
	-webkit-transition: .1s color ease;
	-o-transition: .1s color ease;
	transition: .1s color ease;
}
.item-list .item:last-child {
	margin-bottom: 0;
}
.item-list .item:hover {
	color: var(--highlight-color);
}

.item-list .item:after {
	bottom:0;
	width:30px;
	height:1px;
	background: var(--highlight-color);
	top:calc(100% - 1px);
}
.item-list .item:last-child:after {
	display:none;
}
.item-list .item p {
	margin:0;
	font-size:16px;
	line-height: 20px;
}
.item-list .item p:first-child {
	font-weight: bold;
}
.item-list .item p:last-child {
	font-weight: 400;
}
#reviews.overflow .item-list {
	margin-bottom:30px;
}
.item.item-border {
	background:transparent url(/wp-content/themes/port-au-prince/img/pattern-check.png);
	padding:20px;
	height:auto;
}
.item.item-border:before, .item.item-border:after, .item.item-border img {
	display:none;
}
.item.item-border p {
	background:#f5f5f5;
	color:black;
	padding:10px 10px 0 10px;
}
.item.item-border p:last-child {
	padding:0 10px 10px 10px;
}
.home #dossier,
.single #dossier {
    // This is awful. Needs refactoring.
	width:calc(100% - 30px);
	margin:0 auto 30px;
	background-color:#ccc;
	overflow:hidden;
	border-left: 4px solid var(--highlight-color);
	padding-bottom:15px;
	background-size: cover;
	position:relative;
}
#dossier .item-group {
	margin-left:-15px;
}
#dossier>img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
#dossier:hover>img {
	-webkit-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
#dossier:after {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background:url(/wp-content/themes/port-au-prince/img/pattern-noise.png);
	z-index: 2;
	opacity:.8;
}
#dossier h3 {
       margin: 15px 0 15px 30px;
       color: #ffa2ce;
	z-index: 3;
	position:relative;
}
.item-group .item {
	background:transparent;
	width:auto;
	height:auto;
	float:left;
	clear:both;
	margin-bottom:30px;
	-webkit-transition: margin-left .1s ease;
	-o-transition: margin-left .1s ease;
	transition: margin-left .1s ease;
}
.item-group .item:hover {
	margin-left:23px;
}
.item-group .item:before, .item-group .item:after, .item-group .item img {
	display:none;
}
.item-group .item p {
	margin:0 30px;
}
#po-block {
    display: flex;
    width: 100%;
}

.po-item {
	font-family: var(--sans-serif);
	text-decoration: none;
	border: 1px solid black;
	display: inline-block;
	padding: 2em;
	margin: 2em auto;
	font-size: 0.8em;
	transition: color .1s ease, border-color .1s ease, background-color .1s ease;
}

.po-item:hover {
    color: white;
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
article.piece-of-writing {
    display: grid;
    width: 100%;
    grid-template-areas: "header"
			 "pdf"
			 "content"
			 "aside"
			 "footer";
}

article.piece-of-writing header.entry-header {
    grid-area: header;
    margin-bottom: 4em;
}

article.piece-of-writing object {
    grid-area: pdf;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 300px;
    max-height: 400px;
}

#pdf-byline {
    font-family: var(--sans-serif);
    font-weight: 700;
    margin: 10px 0 50px;
    font-size: 0.9em;
}

article.piece-of-writing aside {
    grid-area: aside;
    font-family:  var(--sans-serif);
    font-size: 0.9em;
    text-decoration: none;
}

article.piece-of-writing aside figure {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
}

figure figcaption {
    font-size: 0.9em;
    line-height: 1.2em;
    z-index: 9999;
    font-family:  var(--sans-serif);
}

aside figcaption {
    margin-left: 5px;
    writing-mode: vertical-rl;
    max-height: 40ch;
}

article.piece-of-writing aside .issue-link {
    font-weight: 700;
}

article.piece-of-writing aside img {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 1em;
}

article.piece-of-writing aside * > *:first-child {
    margin-top: 0;
}

article.piece-of-writing .entry-content {
    grid-area: content;
}

@media all and (min-width: 610px) {
    article.piece-of-writing {
	grid-template-areas: "header header header"
			     "pdf pdf aside"
    			     "content content aside"
			     "footer footer footer";
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 20px;
    }

    article.piece-of-writing object {
	max-width: inherit;
	min-height: 600px;
	max-height: 700px;
    }
}

.piece-of-writing .entry-header {
	font-family: var(--sans-serif);
	text-align: right;

}
.entry-header a:hover {
	text-decoration: underline;
	color: var(--highlight-color);
}
.entry-header .author-byline {
    display: block;
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1em;
}

@media (min-width: 610px) {
    .entry-header .author-byline {
	font-weight: 700;
	font-size: 2.4em;
    }
}


.entry-header, .page-header {
	margin-top:0;
	margin-bottom:20px;
}

.entry-header h1, .page-header h2, .archive article h2 {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 700;
}

@media (min-width: 610px) {
    .entry-header h1, .page-header h2, .archive article h2 {
	font-size: 3.6em;
    }
}

.page-header h1 {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 900;
}

.entry-header h3, .page-header h3 {
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 400;
}

@media (min-width: 610px) {
    .entry-header h3, .page-header h3 {
	font-size: 2.4em;
    }
}

.entry-content p {
    max-width: 65ch;
    font-size: 1.2em;
    line-height: 1.5em;
}

article.entry-content:not(img):not(figure):not(h3) {
    max-width: 630px;
}

.entry-content figure {
    text-align: center;
    margin-bottom: 2em;
}

.entry-content h2 {
        margin-top: 1.8em;
        margin-bottom: 1em;
	font-weight:bold;
	font-size: 1.5rem;
}

.entry-content h3 {
        font-size: 1.25rem;
	margin-top: 1.8em;
	margin-bottom: 0.9em;
}

.entry-content h4 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 900;
}
.entry-content img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.entry-content ul, .entry-content ol {
	margin-left: 0;
}
.reflink,
.reflink:visited,
.footnoteRef,
.footnoteRef:visited,
.reffoot,
.reffoot:visited,
.footnote-ref,
.footnote-ref:visited,
.footnote-back,
.footnote-back:visited {
	color: var(--highlight-color);
	font-size: 0.8em;
	vertical-align: super;
	line-height: 10px;
	text-decoration: none;
	font-weight: bold;
	margin-right: 0.2em;
}
.footnoteRef sup {
	top:0;
}
.reflink:hover, .footnoteRef:hover {
	color: var(--highlight-color);
	text-decoration: underline;
}
.footnotes p, p.reference {
	margin-bottom:10px;
}
.footnotes img {
	position: relative;
}
.footnotes img:after {
	content:'url(/wp-content/themes/port-au-prince/img/icon-footnote.png)';
	position:absolute;
	display:block;
	top:0;
	left:0;
	
}
.cat-links, .tags-links {
        display:block;
        font-size: 0.75em;
	line-height: 1.5em;
}
.cat-links:before {
	content:'Category';
	display:inline;
	margin-right:5px;
	color:#999;
}
.tags-links:before {
	content:'Tags';
	display:inline;
	margin-right:5px;
	color:#999;
}
.cat-links a:hover, .tags-links a:hover {
	color: var(--highlight-color);
	text-decoration: underline;
}
.site-content .piece-of-writing-navigation, .site-content .piece-of-writing-navigation {
	width:calc(100% - 30px);
	margin-right: 15px;
	margin-left:15px;
	clear:both;
}
.nav-previous {
	position: relative;
	padding-left:15px;
	float: left;
	margin: 1em 0;
}
.nav-next {
	position: relative;
	padding-right: 15px;
	float: right;
	margin: 1em 0;
}
.nav-previous:before {
	content:url(/wp-content/themes/port-au-prince/img/icon-piece-of-writing-prev.png);
	width:9px;
	height:25px;
	top:9px;
	left: 0;
	display:block;
	position: absolute;	
}
.nav-next:before {
	content:url(/wp-content/themes/port-au-prince/img/icon-piece-of-writing-next.png);
	width:9px;
	height:25px;
	top:9px;
	right: 0;
	display:block;
	position: absolute;	
}
.entry-footer {
	margin-bottom: 30px;
}
.nav-previous a:hover, .nav-next a:hover {
	background:transparent;
	color: var(--highlight-color);
}
#side-article {
    float:right;
}
#side-article a {
    font-family: var(--sans-serif);
    padding: 10px;
    margin-bottom: 1em;
    display:block;
    border: 1px black solid;

}
#side-article a:hover {
    color:  var(--highlight-color);	
}
.archive #main {
	width:100%;
}
.single-issue {
	width:calc(33.333333333% - 30px);
	margin-right:15px;
	margin-left:15px;
	float:left;
	margin-bottom:30px;
}
.single-issue a {
	text-decoration:none;
}
.single-issue:hover h2, .single-issue:hover p {
	text-decoration: underline;
    color:  var(--highlight-color);
}
.single-issue img {
	height: 170px;
	width:auto;
	float:left;
	display:inline-block;
}
.single-issue h2, .single-issue p {
	font-size:22px;
	font-weight:900;
	line-height: 30px;
	width:auto;
	width:45%;
	display:inline-block;
	margin-left:10px;
}
.single-issue p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}
#comments {
	width:calc(100% - 30px);
	margin:0 15px 15px;
	padding-top:30px;
	overflow: hidden;
}
.piece-of-writings-navigation {
	clear:both;
}
.content {
	width:calc(100% - 30px);
	margin-left:15px; 
	margin-right:15px;
	margin-bottom:30px;
}
.content h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 900;
}
.contributor-list a:hover {
    text-decoration: underline;
}
.contributor-list ul {
    list-style: none;
    text-decoration: none;
    column-count: 1;
}
.contributor-list li {
    padding-right: 1em;
}
.contributor-list h2 {
    margin: 1em 0;
    font-weight: bold;;
}

.search-results .entry-header, .search-results .entry-footer, .archive .entry-footer, .archive .entry-header {
	width:100%;
	margin-left:0;
	max-width:none;
}
.search-results .entry-summary, .archive .entry-summary {
	margin-bottom: 15px;
}
.entry-header .warning_ocr {
       font-size:0.9em;
       line-height: 1.2em;
       background:#cecece;
       padding:15px;
       margin-bottom: 2em;
}
.entry-content .amendment {
    background:#cecece;
    padding:20px;
    margin: 20px 0px;
}
.entry-content .amendment .amendment-date {
      font-weight: bold;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 610px) {
    .contributor-list ul {
	column-count: 2;
    }
}

@media (min-width: 768px) {
  #page {
    width: 750px;
  }
  .contributor-list ul {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  #page {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #page {
    width: 1170px;
  }
  .contributor-list ul {
      column-count: 4;
  }
}
/*-----------*/
@media (max-width: 1199px) {
	.site-branding {
		padding-bottom:15px;
	}
}
@media (max-width: 991px) {
	.header {
		width:100%;
	}
	#banner span {
		margin-left:15px;
	}
	#banner-full-issue {
		font-size: 2.7rem;
		line-height: 1.8rem;
	}
	.site-branding {
		padding-bottom:10px;
	}
	.archive .entry-header {
		width:100%;
		margin-left:0;
	}
	.single-issue {
		width:calc(50% - 30px);
	}
}
@media (max-width: 767px) {
	#page {
		padding:0;
	}
	header {
		width:100%;
		margin:15px 0;
	}
	.site-branding, #site-navigation {
	    margin: 0 auto;
	}
	#banner {
		background:none;
		color:black;
		position:relative;
		float:left;
		width:calc(49% - 30px);
		text-align:left;
		top:0;
		line-height: 0;
	}
	#banner:before {
		display:none;
	}
	#banner span {
		display:inline-block;
		margin:0 5px 0 0;
		font-size:.7rem;
		letter-spacing: 0 !important;
		color:black;
		width:auto;
	}
	.item {
		width:calc(100% - 30px);
		height:auto;
		padding-bottom:30px;
	}
	#features {
		width:100%;
		margin: 0 0 15px 0;
	}
	#features .item, #features .item.even {
		width: calc(100% - 30px);
		margin-right: 15px;
		margin-left:15px;
		margin-bottom:15px;
	}
	#dossier .item {
		padding-bottom:0;
	}
	#main, #side {
		width:100%;
	}
	#footer-title {
		width:100%;
		margin-bottom:10px;
	}
	#footer-s2 td {
		display:inline-block;
	}
	.single-issue {
		width:calc(50% - 30px);
	}
}
@media (max-width: 610px) {
	.single-issue {
		width:calc(100% - 30px);
	}
	.single-issue img {
		height:125px;
	}

}
@media (max-width: 390px) {
	.site-branding {
		padding-bottom:5px;
	}
	.single-issue {
		width:calc(100% - 30px);
	}

}
