/* Build this with laravel-mix

   // To install dependencies

   npm install --save-dev webpack laravel-mix

   // For dev build of this project
 
   npx mix

   // For a dev build that autorefreshes in the browser:

   npx mix watch

   // For final minified production build, run:

   npx mix --production 
*/

// Import legacy CSS file
@import "legacy.scss";

// $theme-colors: (
//     "primary": #FF69B4
// );

/* Import bootstrap Sass files individually, so that we can disable
   ones we don't want. See
   https://getbootstrap.com/docs/5.1/customize/optimize */

// @import "node_modules/bootstrap/scss/bootstrap";

// Configuration
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/utilities";

// Layout & components
// @import "node_modules/bootstrap/scss/root";
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/containers";
// @import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
// @import "node_modules/bootstrap/scss/buttons";
// @import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/nav";
// @import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/accordion";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/toasts";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
// @import "node_modules/bootstrap/scss/spinners";
// @import "node_modules/bootstrap/scss/offcanvas";
// @import "node_modules/bootstrap/scss/placeholders";

// Helpers
// @import "node_modules/bootstrap/scss/helpers";

// Utilities
// @import "node_modules/bootstrap/scss/utilities/api";


// body {
//     color: white;
//     background: rgb(92,18,18);
//     height: 400vh;
// }
